<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="/Images/Verified_Credentials_Logo_green.png" />
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Verified Credentials</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        
        <script type="text/javascript">
            $('#MvcButton').click(function() {
                $.ajax({
                    url: "/Home/ShowMVCPage",
                    success: function (result) {
                        debugger;
                        $("#MainPage").html(result);
                    }
                });
            });
            $('#CSharpButton').click(function () {
                $.ajax({
                    url: "/Home/ShowCSharpPage",
                    success: function (result) {
                    }
                });
            });
            $('#JavaScriptButton').click(function () {
                $.ajax({
                    url: "/Home/GetMVC",
                    success: function (result) {
                    }
                });
            });
            $('#RazorButton').click(function () {
                $.ajax({
                    url: "/Home/GetMVC",
                    success: function (result) {
                    }
                });
            });
            $('#BrokenButton').click(function () {
                $.ajax({
                    url: "/Home/GetMVC",
                    success: function (result) {
                    }
                });
            });
            $('#ConvertCurrencyBtn').click(function () {
                $('#conversionDisplayArea').css('visibility', 'hidden');
                $('#errorContainer').css('visibility', 'hidden');
                var amount = $('#leftBox').val();
                var convertFrom = $('#convertFrom').val();
                var convertTo = $('#convertTo').val();
                $.ajax({
                    type: "Get",
                    url: "/Home/ConvertCurrency",
                    data: { amount: amount, convertFrom: convertFrom, convertTo: convertTo },
                    success: function (result) {
                        $('#conversionDisplayArea').css('visibility', 'visible');
                        $('#convertedValue').html(Number(result).toLocaleString('en'));
                        
                        $('#baseCurrency').text($('#convertFrom').find("option:selected").text());
                        $('#baseValue').text(amount);
                        $('#newCurrency').text($('#convertTo').find("option:selected").text());
                        
                    },
                    error: function (request, textStatus, errorThrown) {
                        if (request.status === 500) {
                            $('#errorContainer').text("You didn't enter a number, can you make the code handle this more gracefully?");
                        }
                        else if (request.status === 520) {
                            $('#errorContainer').text("This app can currently only convert from US Dollars. Can you Extend this?");
                            
                            
                        }
                        $('#errorContainer').css('visibility', 'visible');
                        

                    }
                });
            });

        </script>

    </body>
</html>
