@{
    var mainTitle = "Software Developers";
    var subTitle = "MVC Pre-Screening Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">

                <h1>@mainTitle</h1>
                <br />
                <h2>@subTitle.</h2>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Verified Credentials Inc.
            </p>
            <p></p>
        </div>
    </section>
}
<div id="MainPage">
    <h2>Please Select From One Of The Following Tests:</h2>
    <br />
    <br />
    <div>
        <a href="@Url.Action("ShowCSharpPage", "Home")">
            <button class="testSectionbtn">C#</button>
        </a>
    </div>
    <br />
    <div>
        <a href="@Url.Action("ShowJavaScriptPage", "Home")">
            <button class="testSectionbtn">JavaScript</button>
        </a>
    </div>
    <br />
    <div>
        <a href="@Url.Action("ShowMVCPage", "Home")">
            <button class="testSectionbtn">MVC</button>
        </a>
    </div>
    <br />
    <div>
        <a href="@Url.Action("ShowRazorPage", "Home")">
            <button class="testSectionbtn">ASP.NET/Razor</button>
        </a>
    </div>
    <br />
    <div>
        <a href="@Url.Action("ShowEasterEggPage", "Home")">
            <button class="testSectionbtn">Easter Egg Test</button>
        </a>
    </div>
</div>